*.vscode
*.vs
Makefile
*.cmake
CmakeFiles
CMakeCache.txt
*.tmp

# Prerequisites
*.d
*.pptx

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.gitconfig

build/

